body{
    background-color: rgb(168, 168, 255);
}
* {
    margin: auto;
    padding: 0;
}
p{
    margin-bottom: 20px;
}

@font-face {
    font-family: 'Fiktion';
    src: url(NovaSquare-Regular.ttf);
}

@font-face {
    font-family: 'Grotesk' ;
    src: url(HankenGrotesk-VariableFont_wght.ttf);
}

h1{
    font-family: 'Fiktion';
    text-align: center;
    font-size: 600%;
    color: black;
    border-radius: .5rem;
}


h2 {
    font-family: 'Fiktion';
    text-align: center;
    font-size: 500%;
    margin-top: 50px;
    margin-bottom: 10px;
    color: black;
}

.cm12 {
    font-family: 'Fiktion';
    text-align: center;
    font-size: 500%;
    margin-top: 50px;
    margin-bottom: 10px;
    color: black;
}

h3{
    font-family: 'Fiktion';
    text-align: center;
    font-size: 300%;
}

h4 {
    font-family: 'Fiktion';
}
.container{
    text-align: center;
    font-size: 300%;
    margin-bottom: 50px;
}
header {
    background-color:grey ;
}
.headlogo{
    text-align: center;
    font-size: 500%;
    font-weight: bolder;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 55%;
    width: 35%;
}

nav {
    display: inline;
    justify-content: center;
    padding: 2rem;
    margin: 30px, 50px;
}

.navy ul {
    display: flex;
}


.navy li{
    display: inline-flex;
    gap: 3rem;
    justify-content: center;
    list-style: none;
    font-size: 1.5rem;
    font-family: 'Fiktion';
    border: black .5rem;
}

.navy li a {
    color: black;
}

.navy li a:hover {
    color: rgb(168, 168, 255);
}

nav li a:visited{
    color: none;
}

.headlogo {
    border-radius: 50%;
    height: 20px;
}
.about-container p{
    text-align: center;
    font-weight: bold;
    font-family: 'Fiktion';
    font-size: large;
}
.vibes-container p{
    text-align: center;
    font-weight: bold;
}
.camelot12 h2{
    text-align: center;
    font-size: 400%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.camelot11 h2{
    text-align: center;
    font-size: 400%;
    color: black;
    border: orangered;
}
.camelot10 h2{
    text-align: center;
    font-size: 400%;
    color: black;
}
.camelot9 h2{
    text-align: center;
    font-size: 400%;
    color: black;
}
.camelot8 h2{
    text-align: center;
    font-size: 400%;
    color: black;
}
.camelot7 h2{
    text-align: center;
    font-size: 400%;
    color: black;
}
.camelot6 h2{
    text-align: center;
    font-size: 400%;
    color: black;
}
.camelot5 h2{
    text-align: center;
    font-size: 400%;
    color: black;
}
.camelot4 h2{
    text-align: center;
    font-size: 400%;
    color: black;
}
.camelot3 h2{
    text-align: center;
    font-size: 400%;
    color: black;
}
.camelot2 h2{
    text-align: center;
    font-size: 400%;
    color: black;
}
.camelot1 h2{
    text-align: center;
    font-size: 400%;
    color: black;
}
.contacts-container h2{
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    text-decoration: underline;
}
.contacts-container{
    text-align: center;
    color:#444;
    margin-bottom: 50px;
    display: flexbox;
    padding: 50px;
}
.contacts-container a:hover{
    background-color: antiquewhite;    
}
.playlist-container h2{
    text-align: center;
    font-weight: bold;
    font-size: 300%; font-family: 'Fiktion';
}

.collapsible {
    background-color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border:#444;
    text-align: Center;
    outline:auto;
    outline-offset: -2px;
    font-size: 30px;
    font-family: "Fiktion";
    display: flex;
    justify-content: center;
    border-radius: .5rem;
}

.collapsible:after {
    content: '\02795';
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}


.active, .collapsible:hover {
  background-color: #ccc;
}

.dropdown-content {
    padding: 0 18px;
    display: none;
    overflow:hidden;
    background-color: #f1f1f1;
    transition: 1.5s ease-in-out;
    flex-wrap: wrap;
    justify-content: start;
    position:absolute;
    margin: 10px 20px;
}

iframe {
    margin: 10px 20px;
    position: sticky;
    top: 20px;
}

.spotifyButton {
    padding: 10px 20px;
    margin: 10px 20px;
    justify-content: center;
    display: flex;
    position: sticky;
    left: 150px;
    font-family: 'Grotesk';
    background-color: black;
    font-weight: bold;
}

.spotifyButton:hover {
    cursor:pointer;
    outline:thick, 5px #1ed760;
    outline-offset: 2px;
}
